.second_section{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    

    .enjoy_caption_second{
        margin:auto;
        max-width: 600px;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 130%;
    }

    &:before{
        
    }
}