section.header 
    .container 
        .row 
            .navbar_width_logo 
                .logo_block 
                    img(src="images/logo.png", alt="/images/logo.png")
                
                .menu 
                    ul.menu_list 
                        li.menu_list_item 
                            a(href="#about") About  
                        li.menu_list_item 
                            a(href="#hw") How it`s Workd 
                        li.menu_list_item
                            a(href="#contact") Contact`s  
                .menu_button 
                    a(href="" type="button" class="btn_android")
                        img(src="images/android.svg", alt="") 
                    a(href="" type="button" class="btn_apple")
                        img(src="images/apple.svg", alt="") 
        .mobile-menu 
        button(type="button" class="burger_btn_menu" onclick="BurgerClass()")
        ul.mobile_menu_list#burger_btn
            li.mobile_menu_item 
                a(href="#about") About  
            li.mobile_menu_item 
                a(href="#hw") How it`s Workd
            li.mobile_menu_item 
                    a(href="#contact") Contact`s  
        .row 
            .caption_block 
                h1 Best Apps <br> Partner For your Life
                button(class="btn_getmore") get more
